<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bro Code</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>

    <main>
        <div class="container">
            <h2>Welcome <%= name %></h2>
            <div class="button-container">
                <button class="button">Browse work teams</button>
                <button id="createTeamBtn" class="button">Create a work team</button>
                <button id="joinTeamBtn" class="button">Join a work team</button>
            </div>
        </div>
    </main>
</body>
</html>